header{
    background-color: antiquewhite;
    padding: 25px;
    margin: none;
    height: 10%;
    width: 100%;
    display: flex;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}


nav{
    text-decoration: none;
    color: beige;
    font-size: 18px;
    color: rgb(114, 72, 28);
    display: flex;
    justify-content: right;
    justify-content: space-evenly;
    align-items: baseline;
}

h1{
    color: rgb(114, 72, 28);
    font-size: 45px;
}
body{
    margin: 0%
}