header{
    background-image: url('../images/leaves.jpg');
    padding: 15px;
    text-decoration: none;
    height: 150px;
}

#myName{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin: 15px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    text-decoration: underline;
}

nav{
    text-decoration: none;
    font-size: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

body{
    margin: 0%;
    background-color: rgba(89, 136, 70, 0.922);
    padding: 10px
}

#mainTitle{
    font-size:40px;
    margin: 20px;
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif ;
    justify-content: center;
    text-align: center;
}
#subtitle{
    font-size:25px;
    margin: 20px;
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif ;
    justify-content: center;
    text-align: center;
}
#homeDesc{
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 300px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    border-width: 4px;
    border-style:solid;
    border-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;

}

#picDesc{
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 400px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    border-width: 4px;
    border-style:solid;
    border-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

#soccerPic{
    width: 350px;
    height: 100%;
}
img{
    border-style: groove;
    border-width: 10px;
}
#ihccLogo{
    border-style: none;
    width: 250px;
    height: 100%;

}

#byteJamPic{
    width: 100%;
    height: 300px;
}

#picCap{
    color: white;
    text-align: center;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
/*Contact Me*/
.infoDiv {
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: rgb(22, 67, 22);
    background-size: cover;
    width: 400px;
    height: 450px;
    justify-self: center;
    padding: 10px;
}
.infoDiv div{
    flex-direction: row;
    display: flex;
    color: white;
    gap: 15px;
    
}
.infoDiv div h5{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.infoDiv div p{
    font-size: 18px;
    align-self: baseline;
    display: flex;
}
#subheading{
    color: rgb(255, 255, 255);
    text-align: center;
    width: 300px;
    height: 50px;
    background-color: rgba(9, 20, 4, 0.922);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;

}

/* Resume*/
embed{
    width: 600px;
    height: 80vh;
    align-content: center;
    justify-self: center;
    display: flex;
    border: none
}

.homeLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home img{
    width: 300px;
    height: 100%;
}

.soccerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.soccerDiv img{
    width: 300px;
    height: 100%;
}
.mexicoDesc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;

}
.mexicoDesc img{
    width: 500px;
    height: 100%;

}
.mexicoDesc p{
    width: 300px;
    height: 100%;
}
